[submodule "safety-gym"]
	path = safety-gym
	url = https://github.com/Gricha1/safety_gym_featched
[submodule "src/envs"]
	path = src/envs
	url = https://github.com/Gricha1/testing_algs
[submodule "src/safety_gym_envs"]
	path = src/safety_gym_envs
	url = https://github.com/Gricha1/testing_algs
